.modal {
  padding: calc(var(--spacer) / 2) var(--spacer);
}

.modalActions {
  display: flex;
  column-gap: 0.5rem;
  align-items: flex-end;
  justify-content: flex-end;
  margin: calc(var(--spacer) / 2) 0;
}

.modalConfirmBtn {
  background-color: var(--brand-alert-green);
}

.modalRejectBtn {
  background-color: var(--brand-alert-red);
}

.modalHighlight {
  color: var(--brand-alert-red);
}

.modalContent {
  padding-top: calc(var(--spacer) / 4);
}

.modalState {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  width: 100%;
  padding-bottom: calc(var(--spacer) / 4);
  border-bottom: 1px solid var(--border-color);
}

.modalHistory {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding-top: calc(var(--spacer) / 4);
  overflow-y: auto;
  max-height: 200px;
  width: fit-content;
  margin-top: 0.5rem;
  padding: 0 2rem;
  /* Adjust the height as needed */
}

.modalHistoryItem {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 0.5rem;
}
