.modal {
  padding: calc(var(--spacer) / 2) var(--spacer);
}

.modalActions {
  display: flex;
  column-gap: 0.5rem;
  align-items: end;
  justify-content: end;
  margin: calc(var(--spacer) / 2) 0;
}

.modalConfirmBtn {
  background-color: var(--brand-alert-green);
}

.modalRejectBtn {
  background-color: var(--brand-alert-red);
}

.modalHighlight {
  color: var(--brand-alert-red);
}
